
p {
    color: #393e46;
    font-style: normal;
    font-family: "Noto Sans Old Permic";
    font-size: 2rem;
    margin-left: 2rem;
    text-align: left;

  }

  h1 {
    color: #1e212d;
    font-style:normal;
    font-family: "Noto Sans Old Permic";
    font:caption;
  
  }

  hr {

    width: 10%;
    height: 0px;
    border-style: dotted none none;
    border-color: #f6f6f6;
    border-width: 5px;
  
  }

  .image {
    margin-top: 2rem;
    width: 175px;
  
    z-index:2;
  
  
  }

 .copyright {

  color: rgb(123, 123, 123);
  font-size: 1rem;
  text-align: right;
  margin: 4px;
  
 }
