
p {
    color: #393e46;
    font-style: normal;
    font-family: "Noto Sans Old Permic";
    font-size: 2rem;
    margin-left: 2rem;
    text-align: left;
    display:inline

  }

  h1 {
    color: #1e212d;
    font-style:normal;
    font-family: "Noto Sans Old Permic";
    font:caption;
    
  
  }

  hr {

    width: 10%;
    height: 0px;
    border-style: dotted none none;
    border-color: #f6f6f6;
    border-width: 5px;
  
  }

  .image {
    max-width: 100%;
    height: auto;
  
  }

 .copyright {

  color: rgb(123, 123, 123);
  font-size: 1rem;
  text-align: right;
  margin: 4px;
  
 }

 .body {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.block {
 margin-top: 4rem;
 margin-left: 2rem;
}



@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  }
}