
.block p {
    color: #393e46;
    font-style: normal;
    font-family: "Noto Sans Old Permic";
    font-size: 2rem;
    margin-left: 2rem;
    text-align: left;
    display:inline

  }

  .block h1 {
    color: #030303;
    font-style:normal;
    font-family: "Noto Sans Old Permic";
    font:caption;
    font-size: 2.5rem;
    
  
  }

  .image {
    max-width: 100%;
    height: auto;
  
  }


 .about_content {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.block {
 margin-top: 4rem;
 margin-left: 2rem;
}



@media (max-width: 650px) {
  .about_content {
    display: block;
    font-size: 80%;
  }
  .block p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  }
}