.column1-hero {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-button1 {
  padding: 10px 40px;
  cursor: pointer;
  color: #004445;
  font-size: 1.6rem;
  border: none;
  background: #FFD800;
  border-radius: 28px;
  margin-top: 1rem;
  
}

.hero-button1:hover {
  padding: 10px 40px;
  cursor: pointer;
  color: #004445;
  font-size: 1.6rem;
  border: none;
  background: #6FB98F;
  border-radius: 28px;
  margin-top: 1rem;
}


.column1-hero h1 {
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
}
.column1-hero p {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.user_name {
  font-size: 2rem;
  color: #2C7873;
  display:block;
  flex: 1;
  margin: 01% 20px 0;
}

.home_container{
  width: 85vw;
  margin: 0 auto;
  display:block;

  grid-gap: 20px;
  font-family: sans-serif;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  padding: 25px;
  max-width: 600px;
  min-width: 300px;

}

.box_home {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: rgba(0, 0, 0, 0.052);
  margin: 50px 0;
  height:auto;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  min-width: 300px;
  max-width: 600px;

}

