.column1-hero {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-button1 {
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  border: none;
  background: darkgreen;
}
.column1-hero h1 {
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
}
.column1-hero p {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
