.cards {
  width: 85vw;
  margin: 0 auto;
  display: grid;

  grid-gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  border-color: white;
}
