.blog_container {
  padding: 25px;
  margin: 15px;
  width: 33.33%;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    hsla(99, 75%, 29%, 1) 0%,
    rgb(90, 175, 69) 100%
  );
}
@media only screen and (max-width: 600px) {
  .blog_container {
    width: 100%;
  }
}
