.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

.nav {
  color: white;
  font-size: 2.5rem;
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: stretch;
  background: rgb(47, 152, 11);
  list-style-type: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: darkgreen;
}

.nav li:hover {
  background-color: rgb(11, 96, 6);
}

.column1-hero {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-button1 {
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  border: none;
  background: darkgreen;
}
.column1-hero h1 {
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
}
.column1-hero p {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
