.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*
body {
  background-color: #dfe6e9;
  padding: 0 16px;
  
}
*/
footer {
  position:fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}


.post button {
  position: relative;
  float: right;
  margin-right: 10px;
  
  color: #6c6c6c;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color:rgba(0, 0, 0, 0);
}
